@import '../../variables.scss';

.hfui-crash_screen-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #172d3e;
  
  .hfui-crash_screen {
    width: 70%;
    height: 80%;

    h1, h2, h4, h5 {
      font-weight: normal;
      padding: 0;
      margin: 25px 0;
      margin-top: 0;
      font-weight: 300;
    }

    h1 {
      font-size: 6.5em;
      margin-bottom: 50px;
    }

    h2 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1.4em;
      line-height: 1.5em;
    }
    
    h5 {
      line-height: 1.1em;
      font-size: 1.3em;
    }

    &-crashstack {
      margin-top: 10px;
      max-height: 350px;
      overflow: auto;
      white-space: pre-line;
    }
  }
}
