@import '../../variables.scss';

.ufx-dialog.ufx-dialog {
  .modal {
    overflow: visible;
  }

  .modal__title {
    padding-bottom: spacing(0.5);
  }

  .modal__footer {
    margin-top: spacing(2.5);
  }

  .ufx-button {
    font-size: 13px;
  }
}
