@import '../../variables.scss';

.ufx-dialog {
  .modal {
    overflow: visible !important;
  }

  .modal__title {
    padding-bottom: spacing(1) !important;
  }

  .modal__footer {
    margin-top: spacing(2) !important;
  }

  .modal__close-button {
    font-family: monospace;
  }
}
