@import "../../variables.scss";

.ufx-dialog.ufx-dialog {
  .modal {
    overflow: visible;

    .error {
      font-size: 12px;
      color: $red-color;
    }
  }

  .modal__title {
    color: $light-color-900;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: spacing(0.5);
  }

  .modal__footer {
    margin-top: spacing(2.5);
  }

  .ufx-button {
    font-size: 13px;
  }
}
