.manageData { 
  position: fixed;
  top: 60px;
  right: 30px;
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  p {
    padding-top: 3px;
    margin-left: 5px;
  }
  &.active {
    color:  #54B361;
  }
}
.btn-block {
  width: 100%;
  margin-top: 20px;
  display:flex;
  justify-content: flex-end;
  button {
    padding: 10px 30px 10px 30px;
    margin-left: 10px;
  }
}
.data-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #54B361;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  .remove { 
    margin-bottom: 6px;
    font-size: large;
    color: white;
  }
  .remove:hover { 
    cursor: pointer;
  }
  .date { 
    white-space: nowrap;                      
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}
.hfui-backtester__wrapper .navbar { 
  display: flex;
  justify-content: space-around;
  padding-bottom: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  .item { 
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #C4C4C4;
  }
  .item:hover {
    cursor: pointer;
  }
  .active {
    border-bottom: 2px solid #54B361;
    color:  #54B361;
  }
}
.hfui-backtester__executionform {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;

  .hfui-backtester_row {
    margin-bottom: 5px !important;
  }

  .hfui-dropdown__button, .react-datepicker__input-container input {
    color: white;
    margin-right: 5px;
    background-color: rgb(16, 35, 49);
  }
  .react-datepicker__input-container input {
    color: #54B361;
    width: calc(100% - 23px);
  }

  .hfui-dropdown__wrapper {
    width: 100%;
  }

  .hfui-exchangeinfobar__wrapper {
    background: none;
    border: none;
  }

  .input-label {
    color: #666;
    font-size: 11px;
    line-height: 16px;
    padding-right: 15px;
  }

  .hfui-backtester__flex_start {
    display: flex;
    flex: 1;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .hfui-backtester_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
  }

  .hfui-backtester__start-button {
    padding: 10px 18px;
    margin-right: 0px;
  }  

  .hfui-backtester_dateInputs_wrapper {
    display: flex;
    flex-direction: row;
  }

  .hfui-backtester__check-error {
    margin-top: 16px;
    font-size: 12px;
    color: red;
  }
  
  input {
    max-width: 100%;
    padding: 10px 8px;
    background-color: lightgray;
    color: #666;
  }
}

.hfui-backtester__wrapper {
  padding: 20px;
}
