.hfui-backtester__executionform {
  display: flex;
  flex: 1;
  flex-direction: column;

  .hfui-dropdown__wrapper {
    width: 100%;
    background: lightgrey;
  }

  .hfui-exchangeinfobar__wrapper {
    background: none;
    border: none;
  }

  .input-label {
    color: #666;
    font-size: 11px;
    line-height: 16px;
    margin-right: 15px;
  }

  .hfui-backtester__flex_start {
    display: flex;
    flex: 1;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .hfui-backtester_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
  }

  .hfui-backtester__start-button {
    padding: 10px 18px;
  }  

  .hfui-backtester_dateInputs_wrapper {
    display: flex;
    flex-direction: row;
  }
  
  input {
    // max-width: 300px;
    max-width: 90%;
    padding: 10px 8px;
    background-color: lightgray;
    color: #666;
  }
}

.hfui-backtester__wrapper {
  padding: 20px;
}
