@import '../../variables.scss';

.hfui-backtester__executionform {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;

  .hfui-backtester_row {
    margin-bottom: spacing(0.25) !important;
  }

  .hfui-dropdown__button, .react-datepicker__input-container input {
    color: $white-color;
    margin-right: 5px;
    background-color: rgb(16, 35, 49);
  }

  .react-datepicker__input-container input {
    color: $green-color;
    width: calc(100% - 23px);
  }

  .hfui-dropdown__wrapper {
    width: 100%;
  }

  .hfui-exchangeinfobar__wrapper {
    background: none;
    border: none;
  }

  .hfui-backtester__flex_start {
    display: flex;
    flex: 1;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .hfui-select__outer {
    display: block;
    min-width: 97%;
    min-height: 100%;
    padding-top:7px;
    padding-bottom: 7px;
    background-color: $panel-background-color;
  }
  .hfui-backtester_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
  }

  .hfui-backtester__start-button {
    padding: 10px 18px;
    margin-right: 0px;
  }  

  .hfui-backtester_dateInputs_wrapper {
    display: flex;
    flex-direction: row;
  }

  .hfui-backtester__check-error {
    margin-top: 16px;
    font-size: 13px;
    color: $red-color;
  }
  
  input {
    max-width: 100%;
    padding: 10px 8px;
    background-color: lightgray;
    color: $grey-color;
  }
}

.hfui-backtester__wrapper {
  padding: spacing();

  .ufx-dropdown {
    margin-right: spacing(0.75);
  }
}
