@import '../../variables.scss';

.hfui-authenticationpage__wrapper {
  height: 100%;
}

.hfui-authenticationpage__inner {
  height: 100%;
  display: flex;
  flex-direction: row;

  > * {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hfui-authenticationpage__inner-left .hfui-authenticationpage__content {
  width: 50%;
}
.hfui-authenticationpage__inner-left {
  background: $background-color;

  svg {
    margin: 0 auto;
  }
}
.hfui-authenticationpage__inner-left img {
  width: 25%;
  margin: 0 auto;
}

.hfui-authenticationpage__inner-left-version-container {
  height: 50%;
  width: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hfui-authenticationpage__inner-left-version {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  p {
    font-size: 11px;
    font-weight: 300;
  }

  h6 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.hfui-authenticationpage__content {
  padding-left: 5%;
  background: $desaturated-background-color;

  h2 {
    margin-bottom: 10px;
    color: $green-color;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 145.5%;
  }

  p {
    width: 65%;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: -5px;
  }

  .hfui-input {
    background-color: $panel-background-color;
    border: none;
    width: 400px;
    border-radius: 4px;
    input {
      width: 400px;
      height: 30px;
      font-size: 16px;
    }
  }

  .hfui-authenticationpage__inner-form {
    z-index: 999999;
    .hfui-button {
      margin-top: 25px;
      width: 140px;
      height: 30px;
      font-weight: 700;
    }
    p {
      margin-bottom: -6px;
    }
  }

  .hfui-input,
  .hfui-button {
    text-transform: uppercase;
    margin-top: 9px;
    border-radius: 4px;
  }

  .hfui-button {
    margin-top: 10px;
    padding: 4px 8px 4px 8px;
  }
  button.hfui-button.red {
    width: 150px;
    height: 30px;
    font-weight: 700;
  }

  input:focus {
    border: 1px solid $green-color;
  }
}

.hfui-authenticationpage__clear {
  padding-top: 80px;
}

.hfui-authenticationpage__trading-mode {
  width: 400px;
  margin-top: 16px;

  &.ufx-dropdown .dropdown-field {
    background-color: $panel-background-color;
  }
}
.hfui-authenticationpage__mode-select {
  .hfui-select__control,
  .hfui-select__control--is-focused {
    height: 100%;
  }

  .hfui-select__single-value,
  .hfui-select__option * {
    font-size: 16px;
  }
  p {
    padding-top: 10px;
    margin-bottom: -1px;
  }
}

.hfui-select.hfui-authenticationpage__trading-mode.css-2b097c-container {
  width: 420px;
  height: 40px;
}
.hfui-select.hfui-authenticationpage__trading-mode svg {
  margin-right: 20px;
}

.hfui-authenticationpage__dev-mode {
  padding-top: 25px;
  .hfui-input {
    margin-top: 0px;
  }
  .hfui-checkbox {
    font-size: 16px;
  }
}
