.hfui_sidenavbar {
  background: #161e24;
  border-right: 1px solid #1c2831;
  min-width: 200px;

  a:hover {
    text-decoration: none !important;
  }

  a {
    width: 100%;
    display: block;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    font-size: 14px;
    font-family: Roboto, sans;
    color: #939393;
    padding: 8px 32px 8px 16px;
    width: 100%;
    text-align: left;

    background: transparent;
    border: none;
    border-radius: 0;

    &:hover, &.active {
      color: #fff;
      background: rgba(0, 0, 0, 0.1);
      border-right: 1px solid #fcd206; // HF yellow
      box-shadow: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.hfui_sidenavbar__header {
  padding: 16px 0 16px 8px;
  margin: 0 -1px 16px 0;
  text-align: center;
  background: #000;
  border-right: 1px solid #000; // hides sidebar border

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 32px;
    margin-right: 16px;
  }

  h2 {
    margin: 0;
    padding-right: 32px;
    opacity: 0.75;
  }
}
