/node_modules
/build
/scripts/db/*
!/scripts/db/.keep
/dist

.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/**/*.css
yarn.lock

todo
/db

!logs/.keep
logs/*

.undodir
Session.vim

.vscode


electron-builder.yml
crowdin.yml
