.dtc-upgrademodal__wrapper {
  p {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #fcd206;
    }
  }
}
