.dtc-input {
  p {
    margin-bottom: 8px;
    font-size: 12px;
  }

  input {
    width: calc(100% - 16px);
    color: #eee;
    background: #03040a;
    border: 0.5px solid #282e58;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
  }
}
