.hfui-input {
  p {
    margin-bottom: 8px;
    font-size: 12px;
  }

  input {
    width: calc(100% - 16px);
    color: #54b361;
    background: #102331;
    border: 0.5px solid #102331;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
    border-radius: 4px;
  }
}

.field-icon {
  float: right;
  margin-top: -30px;
  position: relative;
  border: none;
  color: #54b361;
  background: none;
  z-index: 2;
  outline: none;

  span {
    font-size: 13px;
  }
}
