@import '../../../variables.scss';

.hfui-orderformmenu__wrapper {
  padding: 0 21px;

  h4 {
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    height: 48px;
    background: $panel-background-color;
    margin-bottom: 6px;
    height: 36px;
  
    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 11px;
    }

    i {
      width: 40px;
      line-height: 36px;
      text-align: center;
      font-size: 11px;
    }

    &:hover {
      box-shadow: inset 0 0 0 2px mix($green-color, $panel-background-color, 50%);

      i, p {
        color: $green-color;
      }
    }

    p {
      &:first-child {
        font-size: 13px;
        line-height: 30px;
        margin-top: 2px
      }
    }

    > div {
      display: flex;
      flex-direction: column;
    }
  }
}
