@import '../../../variables.scss';

.hfui-orderformmenu__wrapper {
  h4 {
    font-weight: 600;
    color: $light-color-600;
    margin-bottom: spacing(.5);

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  ul {
    margin-bottom: spacing(1);
    border-radius: $border-radius;
    background: $background-color;
    overflow: hidden;
  }

  li {
    display: flex;
    height: 40px;
    align-items: center;
    font-weight: 500;
    padding: 0 spacing();
    cursor: pointer;
    transition: all .2s;
    border-bottom: 1px solid $light-color-50;
    color: $light-color-600;

    &:last-child {
      border-bottom: 0;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: $border-radius;
      border: 1px solid $light-color-200;
      font-size: 12px;
      margin-right: spacing(0.5);
      transition: border-color .2s;

      &:before {
        font-weight: 600 !important;
        color: $light-color-500;
        transition: color .2s;
      }
    }

    &:hover {
      color: $light-color-900;
      background-color: $light-color-50;

      i {
        border-color: $light-color-500;

        &:before {
          color: $light-color-900;
        }
      }
    }

    &:active {
      transition-duration: 0.05s;
      background: rgba(0, 0, 0, .1);
    }
  }
}