@import '../../variables.scss';

.hfui-statusbar__wrapper {
  width: 100%;
  height: 32px;
  background: #102331;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  z-index: 100;

  position: fixed;
  bottom: 0;
  left: 0;

  font-size: 12px;
  color: $text-color;

  display: flex;
  flex-direction: row;

  user-select: none;
}

.hfui-statusbar__left {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  flex-shrink: 0;

  p {
    line-height: 32px;
  }

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-statusbar__right {
  width: 100%;
  text-align: right;
  padding-right: 16px;

  p, span {
    line-height: 32px;
    display: inline-block;
  }

  & > *, .hfui-statusbar__connection-status > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.hfui-statusbar__statuscircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;

  &.green {
    background: #54B361;
  }

  &.red {
    background: #F05359;
  }

  &.yellow {
    background: #f0ed53;
  }
}

.hfui-statusbar__version {
  line-height: 32px;
}
