.hfui-navbarbutton {
  p, span, .fa {
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
  }

  .fa {
    margin-right: 8px;
  }

  .tag {
    margin-left: 4px;
    color: #54b361;
    font-weight: bold;
  }
}
