@import '../../variables.scss';

.hfui-navbarbutton {
  background: transparent !important;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    margin-left: 4px;
  }

  .tag {
    margin-left: 4px;
    color: $green-color;
    font-weight: bold;
  }
}
