.hfui-createnewstrategymodal__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;

  > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
