.dtc-strategyeditorpage__wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100% - 32px);
  width: 100%;

  .dtc-panel {
    margin: 16px;
  }

  > .dtc-panel:first-child {
    width: calc(50% - 32px);
  }

  .dtc-chart__wrapper {
    height: calc(60% - 32px);
    width: auto;
  }

  .dtc-strategytradestable__wrapper {
    height: 40%;
    width: auto;
  }

  .dtc-statusbar__wrapper {
    width: 100%;
  }

  .dtc-strategiespage__right {
    width: 50%;
    display: flex;
    flex-direction: column;

    .dtc-panel {
      flex-shrink: 0;
    }
  }
}