@import '../../variables.scss';

.hfui-strategyeditorpage__wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-bottom: 64px;
  .hfui-strategyeditorpage__content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .hfui-panel {
    margin: 16px;
  }

  > .hfui-panel:first-child {
    width: calc(60% - 32px);
  }

  .hfui-strategytradestable__wrapper {
    height: 300px;
    width: auto;
    margin: 0;
  }

  .hfui-strategiespage__pannel-wrapper {
    height: 100%;
    width: auto;
    background: $code-background-color;
  }

  .hfui-statusbar__wrapper {
    width: 100%;
  }

  .hfui-strategiespage__right {
    width: 40%;
    display: flex;
    flex-direction: column;

    .hfui-panel {
      flex-shrink: 0;
    }
  }
}
.hfui-strategiespage__pannel-backtest {
  height: 100%;
}
