@import '../../variables.scss';

.hfui-strategyeditorpage__wrapper {
  .hfui-strategyeditorpage__content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .hfui-strategyeditor__panel {
    width: calc(60% - 20px);
    margin-right: spacing(1.25);
  }

  .hfui-strategytradestable__wrapper {
    height: 300px;
    width: auto;
    margin: 0;
  }

  .hfui-strategiespage__pannel-wrapper {
    height: 100%;
    width: auto;
    background: $code-background-color;
  }

  .hfui-strategiespage__right {
    width: 40%;
    display: flex;
    flex-direction: column;

    .hfui-panel {
      flex-shrink: 0;
    }
  }
}
.hfui-strategiespage__pannel-backtest {
  height: 100%;
}
