@import '../../variables.scss';

.hfui-aolist__wrapper {
  padding-bottom: 8px;

  tr, th {
    font-size: 12px;
    line-height: 16px;
    color: $text-color !important;
  }

  td {
    color: $text-color !important;
    background-color: $background-color !important;
  }

  .empty {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
}