@import "../../variables.scss";

@media only screen and (min-width: 1170px) {
  .hfui-exchangeinfobar__right {
    margin-left: auto;
  }

  .hfui-exchangeinfobar__wrapper {
    justify-content: space-between;
  }
}

.hfui-exchangeinfobar__wrapper {
  display: flex;
  background: $background-color;
  min-height: 40px;
  align-items: center;
  padding: 10px spacing(1.25);
  flex-wrap: wrap;

  ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    align-items: center;
  }

  li {
    min-width: fit-content;

    &:first-child {
      margin-right: spacing();
    }
  }
}

.hfui-exchangeinfobar__ticker {
  margin-bottom: 5px;
  width: 100%;
  background-color: $darker-background-color;
  padding: 10px;
}

.hfui-exchangeinfobar__tickerlist {
  width: 100%;
  background-color: $darker-background-color;
  padding: 10px;
}

.hfui-exchangeinfobar__left {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-right: spacing(1.5);
  width: 350px;
}

.hfui-exchangeinfobar__right {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.hfui-exchangeinfobar__buttons {
  display: flex;
  margin-right: spacing();
}

.hfui-exchangeinfobar__button {
  cursor: pointer;
  border-radius: 6px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  background-color: transparent;
  opacity: 1 !important;

  i,
  i:before {
    display: block;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.1) !important;
  }

  &:active {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

.hfui-exchangeinfobar__item.vertical {
  display: block;
  padding: 0;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  .hfui-exchangeinfobar__item-label,
  .hfui-exchangeinfobar__item-data {
    display: block;
    width: 100%;
    line-height: inherit;
  }

  .hfui-exchangeinfobar__item-label {
    margin-bottom: 4px;
    opacity: 0.8;
  }
}

.hfui-exchangeinfobar__item-label,
.hfui-exchangeinfobar__item-data {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.hfui-exchangeinfobar__item-label {
  color: $text-color;
  user-select: none;
  margin-right: 6px;
  text-transform: uppercase;
}

.hfui-exchangeinfobar__item-data {
  color: $text-color;
  font-weight: 600;

  &.hover:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .hfui-select {
    margin-top: -2px;
    min-width: 100px;
  }

  .hfui-select__control {
    padding: 0 4px;
  }

  .hfui-select__single-value {
    color: $green-color !important;
  }
}

.react-switch-bg svg * {
  display: none;
}

.hfui-tradingpaper__control {
  display: flex;
  border-right: 1px solid $panel-background-color;
  flex-direction: row;

  .hfui-tradingpaper__control-toggle {
    p {
      font-size: 13px;
      padding-right: 10px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
