.hfui-button, button {
  background: #102331;
  border: none;
  color: #eee;
  font-size: 12px;
  font-weight:  300;
  border-radius: 4px;
  &.red {
    background: #F05359;
    border-color: #F05359;
  }

  &.green {
    background: #54B361;
    border-color: #54B361;
  }

  &:hover:not(.disabled) {
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.5;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
