@import '../../variables.scss';

.hfui-button, button {
  background: $panel-background-color;
  border: none;
  color: $text-color;
  font-size: 12px;
  font-weight:  300;
  border-radius: 4px;
  &.red {
    background: $red-color;
    border-color: $red-color;
  }

  &.green {
    background: $green-color;
    border-color: $green-color;
  }

  &:hover:not(.disabled) {
    color: $white-color;
    cursor: pointer;
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.5;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
