@import '../../variables.scss';

.hfui-button, button {
  background: $input-background-color;
  border: none;
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  border-radius: $border-radius;
  transition: background-color .2s;
  cursor: pointer;

  &:hover:not(.disabled),
  &:focus:not(.disabled) {
    background-color: lighten($input-background-color, 6%);
  }

  &:active:not(.disabled) {
    transition-duration: .05s;
    background-color: $input-background-color;
  }

  &.red {
    background: $red-color;
    border-color: $red-color;

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background-color: lighten($red-color, 6%);
    }

    &:active:not(.disabled) {
      background-color: darken($red-color, 6%);
    }
  }

  &.green {
    background: $green-button-color;
    border-color: $green-button-color;

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background-color: lighten($green-button-color, 6%);
    }

    &:active:not(.disabled) {
      background-color: darken($green-button-color, 6%);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
