.hfui-indicatorsettingsmodal__wrapper {
  padding: 8px;

  h3 {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  ul {
    &.hfui-indicatorsettingsmodal__args li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li {
      font-size: 12px;

      .hfui-indicatorsettingsmodal__args-label {
        width: 100px;
        text-align: right;
      }

      .hfui-indicatorsettingsmodal__args-label, .hfui-input {
        margin-right: 8px;
      }

      .hfui-indicatorsettingsmodal__args-reset {
        color: #fcd206;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .hfui-indicatorsettingsmodal__actions {
    margin-top: 8px;
    text-align: right;

    li {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      i:hover {
        cursor: pointer;
        color: #fcd206;
      }
    }
  }
}
