.btui__sidebar {
  padding-left: 30px;
}

.btui__indicator_list {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;

        .bp3-popover-wrapper {
          margin: -5px auto 5px auto;
          text-align: center;
          display: block;
        }
      }

      &:first-child:last-child .bp3-popover-wrapper {
        margin: 0;
      }
    }
  }

  .btui__sidebar_inputs {
    input {
      margin-bottom: 5px;
      font-size: 12px;
      height: 25px;
      line-height: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
