.hfui-algo-orders {
  padding: 0;
  flex-direction: column;
  padding-bottom: 50px;

  .btheaderbar__wrapper {
    width: 100%;
  }

  .bp3-non-ideal-state {
    margin: 100px 0;
  }
}

.hfui-algo-orders__content {
  display: flex;
  flex-direction: row;

  padding: 0 30px;

  .hfui-order-form {
    width: 310px;
    margin-right: 30px;
  }

  .hfui-algo-orders__main {
    width: 100%;
  }
}