.hfui .hfui-api-combo-dialog {
  width: 400px;
  margin: 200px auto 0 auto;
}

.hfui.loading {
  .bp3-spinner {
    display: block;
    margin: 100px auto 0 auto;
  }
}

.hfui, .hfui_content__wrapper {
  height: 100%;
}

.hfui_content__wrapper {
  display: flex;
  flex-direction: row;
}

.hfui_view__wrapper {
  padding: 0 32px;
  width: 100%;

  .panel__wrapper {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
