.hfui-app {
  height: 100%;
}
.tos { 
  overflow: scroll;
  .hfui-modal__actions { 
    margin-top: 30px;
  }
}
.tos-content {
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
  max-height: 400px;
}
.hfui-app__content {
  // display: flex;
  // flex-direction: row;

  .hfui-sidebar__wrapper {
    border-right: 1px solid #333;
  }
}

.hfui-app__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hfui-app__content-primary, .hfui-app__content-secondary {
  display: flex;
  flex-direction: row;
}

.hfui-app__content-primary {
  width: 100%;
  min-height: 400px;
  z-index: 1;

  .hfui-sidebar__wrapper {
    border-right: 1px solid #333;
  }

  .hfui-chart__wrapper {
    width: 100%;
  }
}
