@import '../../variables.scss';

.hfui-tradestable__wrapper {
  .ufx-trades {
    .ufx-table-wrapper {
      overflow-y: visible;
    }

    .ufx-table {
      th {
        font-size: 13px;
        font-weight: 600;
        color: $text-color;
      }

      td {
        font-size: 13px;
        font-weight: 400;
        color: $text-color;
      }
    }   
  }
}
