.dtc-tradingstatepanel__wrapper {
  .dtc-tspanel-header-button {
    font-size: 11px;
    line-height: 32px;
    color: #666;
    padding: 0 12px;

    i {
      margin-right: 8px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
    }

    &.active {
      i, p {
        color: #fcd206;
      }
    }
  }
}
