@import '../../variables.scss';

.hfui-tradingstatepanel__wrapper {
  .hfui-tspanel-counter {
    padding: 1px 6px;
    margin-left: 4px;
    border-radius: 100px;
    color: $green-color;
    border: 1px solid $green-color;
  }

  .hfui-panel__header {
    margin: 0;

    .hfui-panel__label {
      text-transform: none;
      line-height: 45px;
    }

    > .hfui-panel__label {
      line-height: 48px;
    }

    .hfui-panel__header-tabs {
      margin-left: 0;

      li {
        padding: 0;
        margin: 0 20px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .active {
        background: none;

        p {
          color: $green-color;
        }

        border-bottom: 2px solid $green-color;
      }
    }
  }

  .hfui-panel__content {
    background: $panel-background-color;
  }

  .hfui-panel .hfui-panel__label {
    color: $white-color;
  }

  .hfui-panel__header-icons {
    margin: 8px 0;
  }

  .hfui-tspanel-header-button {
    font-size: 13px;
    line-height: 24px;
    padding: 0 13px;
    background: $panel-background-color;
    color: $white-color;
    height: 30px;
    margin: 0 7px;

    i, p {
      line-height: 30px;
    }

    p {
      text-transform: uppercase;
    }

    i {
      margin-right: 8px;
      font-size: 13px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover, &.active {
      cursor: pointer;
      box-shadow: inset 0 0 0 2px mix($green-color, $panel-background-color, 50%);

      i, p {
        color: $green-color;
      }
    }
  }
}
