@import '../../variables.scss';

.hfui-tradingstatepanel__wrapper {
  .hfui-tspanel-counter {
    padding: 1px 6px;
    margin-left: 4px;
    border-radius: 100px;
    color: $green-color;
    border: 1px solid $green-color;
  }

  .hfui-panel__content {
    background: $panel-background-color;
    margin: 0 (0 - spacing());
  }

  .hfui-panel .hfui-panel__label {
    font-weight: 500;
  }

  .hfui-tspanel-header-button {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 spacing(0.5);
    background: $panel-background-color;
    border-radius: $border-radius;
    color: $text-color;
    height: 32px;
    cursor: pointer;
    transition: all .2s;

    i {
      font-size: 13px;
      color: inherit;

      &:before {
        font-weight: 600 !important;
      }
    }

    &:hover,
    &.active {
      background: $light-color-50;
    }

    &.active {
      background: $primary-color-50;
      color: $primary-color-800;
    }
  }
}
