$bfx-blue: #5B91B2;
$link-color: saturate($bfx-blue, 15%);
$white: #fff;

.btn {
  transition: all 125ms ease;
}

.btn-group {
  .col {
    padding:0 !important;
    display: table;
    .btn, .btn-flat {
      line-height: 16px;
      padding-left: 4px;
      padding-right: 4px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  &.btn-group-small {
    margin-bottom: 0.5rem;
    .btn, .btn-flat {
      text-align: center;
    }
  }
}

.btn-light-grey, .btn-clear {
  i.fa {
    font-size: 14px;
    padding: 0 2px;
  }
}

.btn-small {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: normal;
}

.btn-tiny {
  font-size: 80%;
  font-weight: normal;
  height: 15px;
  line-height: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: normal;
  i.fa {
    pointer-events: none;
  }
}

.nice-btn-wrap {
  display: table;
  width: 100%;
  .btn {
    line-height: 15px;
    display: table-cell;
    vertical-align: middle;
  }
}

button.btn:disabled, a.disabled-link {
  position: relative;
  min-width: 100px;
  .fa {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -10px;
  }
  &.normal-size .fa {
    margin-top: -27px;
  }
  &.btn-small:disabled .fa {
    margin-top: -14px;
  }
  &.btn-tiny:disabled .fa {
    font-size: 15px;
    margin-top: -9px;
    margin-left: -6px;
  }
}

.hide-text {
  color: transparent !important;
  cursor: default;
}

.buy-button, .sell-button {
  position: relative;
  &:focus {
    box-shadow: 0 0 0 1px $bfx-blue;
  }
  .fa.fa-circle-o-notch {
    position: absolute;
    color: $white !important;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
}

.mini-toggle {
  font-size: 0;
  .mini-toggle-btn {
    font-size: 11px;
    font-weight: 600;
    padding: 1px 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    &:last-of-type {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: -1px;
      border-left: none;
    }
    &.active {
      cursor: default;
    }
    .fa {
      pointer-events: none;
      transform: translateY(1px);
      font-size: 12px;
    }
  }
}

#sidebar .buy-button,
#sidebar .sell-button {
  .fa.fa-circle-o-notch {
    margin-top: -11px;
    font-size: 16px;
    margin-left: -6px;
  }
}

.ultra-tiny-btn {
  margin: 0;
  padding: 0;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-width: 17px;
  text-align: center;
  display: inline-block;
}

.btn-filter {
  height: 19px !important;
  line-height: 19px !important;
  margin-right: 6px;
  i.fa {
    padding: 0;
    font-size: 13px;
  }
}

.btn, .btn-large, .btn-flat {
  text-transform: none !important;
}

.btn-trans.connected {
  margin-top: 15px;
  border-color: $bfx-blue;
  color: $bfx-blue;
  font-size: 20px;
  padding: 10px 20px;
  height: auto;
  i {
    font-size: 19px;
    line-height: 1px;
    transform: none !important;
  }
  svg, i {
    margin-right: 5px;
  }
  g, path, polygon {
    fill: $bfx-blue;
  }
  &:hover {
    color: $white;
    g, path, polygon {
      fill: $white;
    }
    svg {
      transform: none !important;
    }
  }
}

.connected-left {
  margin-right: -2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.connected-right {
  margin-left: -2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-as-link {
  background: none;
  border: none;
  color: $link-color;
  outline: none;
  &:active, &:focus {
    border: none;
    outline: none;
    outline: -webkit-focus-ring-color none !important;
  }
}