.ReactVirtualized__Table__headerRow,
.ReactVirtualized__Table__row {
  background: transparent !important;
  color: #c4c7c9;
}

.ReactVirtualized__Table__rowColumn {
  padding-right: 0 !important;
  border-right: 0 !important;
}

.virtTable-bodyRow.even-stripe, .virtTable-bodyRow.even-stripe:hover {
  background: rgba(255, 255, 255, 0.01) !important;
}