@import '../../variables.scss';

.hfui-orderform__wrapper {
  height: 100%;
  padding-right: 7px;

  .react-datepicker-popper {
    left: -2px;
    transform: translate3d(0px, 231px, 0px) !important;
  }

  input {
    background: $input-background-color;
  }

  .hfui-dropdown__button {
    margin-left: 0;
    background: $background-color;
    position: relative;
    width: 165;
    padding-left: 8px;

    p {
      width: calc(100% - 32px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    i {
      position: absolute;
      right: 10px;
      color: $text-color;
    }
  }

  .hfui-dropdown__wrapper {
    width: 100%;

    > p {
      margin-bottom: 8px;
      text-align: center;
    }

    > ul {
      max-width: 100%;
    }
  }

  .ufx-dropdown .list {
    display: block;
    left: 0 - spacing();
    right: 0 - spacing();

    li {
      display: block;
      width: auto;
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.hfui-orderform__upgrade {
  width: calc(100% + 32px);
  text-align: center;
  background: #060606;
  border-bottom: 1px solid $black-color;
  margin-left: -16px;

  .hfui-orderform__upgrade_inner {
    display: inline-block;
    margin: 0 auto;
    font-size: 13px;
    padding: 0 16px;
    line-height: 30px;
    height: 33px;
    cursor: pointer;
  }
}

.hfui-orderform__panel {
  .hfui-panel__footer {
    width: 100%;
    background: $background-color;
    line-height: 32px;
    font-size: 13px;
    color: $text-color;
    padding: 0 8px;
    display: flex;
    flex-direction: row;

    .hfui-orderform__footer-lockstatus {
      color: $green-color;
      width: 100%;
      margin-left: 22px;

      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .hfui-orderform__footer-connectionstatus {
      text-align: right;
      flex-shrink: 0;

      > * {
        display: inline-block;
        vertical-align: middle;
      }
      
      p {
        margin-right: 20px;
      }

      .hfui-orderform__footer-statuscircle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;

        &.green {
          background: $green-color;
        }

        &.red {
          background: $red-color;
        }
      }
    }
  }
}

.hfui__orderform-button {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  padding: 0 spacing(0.5);
  background: $panel-background-color;
  border-radius: $border-radius;
  color: $text-color;
  height: 32px;
  cursor: pointer;
  transition: all .2s;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $light-color-50;
  }

  &.active {
    background: $primary-color-50;
    color: $primary-color-800;
  }
}

.hfui-orderform__label {
  width: 100%;
  display: block;
  color: $grey-color;
  font-size: 13px;
  margin-bottom: 16px;
  text-align: center;
}

.hfui-orderform__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  > li {
    width: 100%;
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  .hfui-button {
    margin-top: 20px;
    height: 32px;
    font-size: 13px;
  }
}

.hfui-orderform__creation-error {
  margin-top: 16px;
  font-size: 13px;
  color: $red-color;
}

.hfui-orderform__checkbox-group {
  margin-bottom: 16px;
  text-align: center;
}

.hfui-orderform__layout-section {
  &.fullWidth ul > li {
    width: 100%;
    padding-right: 0 !important;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      margin-bottom: spacing();

      &:nth-child(odd) {
        padding-right: spacing(0.5);
      }

      &:nth-child(even) {
        padding-left: spacing(0.5);
      }
    }

    .hfui-input {
      line-height: 32px;

      input {
        height: 32px;
        font-size: 14px;
        padding: 0 16px;
        line-height: 32px;
      }
    }

    &.fullWidth {
      li {
        width: 100%;
      }

      .hfui-input input {
        max-width: 100%;
      }
    }
  }
}

.hfui-orderform__layout-section-title {
  text-align: center;
  font-size: 13px;
  margin-bottom: 16px;
  border-top: 1px solid $panel-background-color;
  text-transform: uppercase;
  padding-top: 14px;
  color: $white-color;
}

.hfui-orderform__layout-header {
  padding-bottom: 8px;
}

.hfui-orderform__layout-actions {
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;

  &.single-action {
    justify-content: right;
    padding-left: 18px;
  }

  .hfui-button {
    padding: 8px 13px;
    text-transform: uppercase;
    width: 50%;

    button {
      font-size: 13px;
    }

    button, i {
      color: $white-color;
    }

    &:first-child:last-child {
      float: right;
    }

    &:first-child:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.hfui-orderform__checkbox-group {
  font-size: 13px;

  .hfui-orderform__input {
    margin-bottom: 0;
  }
}

.hfui-orderform__input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 16px 0;

  input[type="range"] {
    width: 100%;
    padding: 4px 0px;
  }

  &:not(.inline) {
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.invalid {
    .hfui-input {
      border-color: $red-color;
    }

    & > p:last-child {
      color: $red-color;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.fullWidth {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .hfui-orderform__input-label {
    color: $light-color-400;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 2px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  .hfui-orderform__input-error-label {
    font-size: 13px;
    margin-bottom: 8px;
  }

  &.text p:first-child {
    color: $text-color;
    font-size: 13px;
    line-height: 24px;
    width: 138px;
  }

  &.checkboxes {
    font-size: 13px;
    max-width: 166px;

    .pretty .state {
      margin-left: 4px;
    }

    .pretty {
      margin-bottom: 8px;
    }
  }

  &.execute {
    width: 100%;

    button {
      width: 35%;

      &:first-child {
        margin-right: 24px;
      }
    }
  }

  .hfui-dropdown__wrapper {
    width: 100%;
  }
}

.hfui-orderform__overlay-wrapper {
  height: 100%;
  line-height: 1.5;
  white-space: pre-line;
  user-select: none;

  .hfui-orderform__help-content {
    font-size: 13px;
  }

  .hfui-orderform__help-title {
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 30px;

    i {
      float: right;
      font-size: 20px;
    }

    .prefix {
      color: $light-color-400;
      margin-right: 8px;
    }
  }
}

.hfui-orderform__modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: $background-color;
  width: 100%;
  height: 100%;
  user-select: none;

  &:hover:not(.nohover) {
    cursor: pointer;
  }

  i + p {
    font-weight: 500;
  }

  .underline {
    text-decoration: underline;
  }

  .notice {
    padding: 0 16px;
    font-size: 13px;
    color: $grey-color;
    line-height: 1.5;
    text-align: center;
  }

  .hfui-input {
    margin-bottom: 8px;
  }

  .hfui-orderform__modal-form {
    margin: 16px 0 !important;

    .error {
      font-size: 13px;
      color: $red-color;
      text-align: center;
    }
  }

  .hfui-orderform__modal-form .row,
  .hfui-orderform__modal-buttons .row {
    display: flex;
    flex-direction: row;

    > *:first-child {
      margin-left: 20px;
      margin-right: 15px;
    }

    > *:last-child {
      margin-right: 20px;
    }

    > .hfui-input:first-child {
      width: 62%;
    }

    .hfui-input {
      line-height: 32px;

      input {
        height: 24px;
        font-size: 13px;
      }
    }

    .hfui-button {
      padding: 8px 13px;
      text-transform: uppercase;
      width: 50%;

      button {
        font-size: 13px;
      }

      button, i {
        color: $white-color;
      }
    }
  }

  .hfui-orderform__modal-buttons {
    width: 100%;
  }

  .hfui-orderform__modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    &.fullheight {
      height: calc(100% - 32px);
    }

    > p {
      text-align: center;
    }

    > i {
      font-size: 38px;
      height: 38px;
      margin-bottom: 16px !important;
    }

    > * {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hfui-orderform__wrapper-nomodal {
  background: $background-color;
  width: calc(100% - 1px);
  height: 500px;
  user-select: none;

  &:hover:not(.nohover) {
    cursor: pointer;
  }

  i + p {
    font-weight: 500;
  }

  .underline {
    text-decoration: underline;
  }

  .notice {
    padding: 0 16px;
    font-size: 13px;
    color: $grey-color;
    line-height: 1.5;
    text-align: center;
  }

  .hfui-input {
    margin-bottom: 8px;
  }

  .hfui-orderform__modal-form {
    margin: 16px 0 !important;

    .error {
      font-size: 13px;
      color: $red-color;
      text-align: center;
    }
  }

  .hfui-orderform__modal-form .row,
  .hfui-orderform__modal-buttons .row {
    display: flex;
    flex-direction: row;

    > *:first-child {
      margin-left: 20px;
      margin-right: 15px;
    }

    > *:last-child {
      margin-right: 20px;
    }

    .hfui-input {
      line-height: 32px;

      input {
        height: 24px;
        font-size: 13px;
      }
    }

    .hfui-button {
      padding: 8px 13px;
      text-transform: uppercase;
      width: 50%;

      button {
        font-size: 13px;
      }

      button, i {
        color: $white-color;
      }
    }
  }

  .hfui-orderform__modal-buttons {
    width: 100%;
  }

  .hfui-orderform__modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    &.fullheight {
      height: calc(100% - 32px);
    }

    > i {
      font-size: 38px;
      height: 38px;
      margin-bottom: 16px !important;
    }

    > * {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hfui-orderform__layout-label {
  display: flex;
  flex-direction: row;
  margin-bottom: spacing();
  background: $primary-color-50;
  border-radius: $border-radius;
  padding: spacing(0.5);

  > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: $border-radius;
    font-size: 15px;
    color: $primary-color-500;
    cursor: pointer;
    margin-right: 8px;

    &:hover,
    &:focus {
      background: $primary-color-100;
    }

    &:active {
      background: rgba(0, 0, 0, .1);
    }
  }

  .hfui-orderform__layout-label-inner {
    display: flex;
    align-items: center;
    color: $primary-color-900;

    i, p {
      display: block;
    }

    i {
      position: relative;
      top: 2px;
      margin-right: spacing(.5);
    }

    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.hfui-orderform__question-btn {
  font-size: 18px;
  color: $text-color;
  padding: 3px 7px;

  &:hover {
    cursor: pointer;
  }
}
