.hfui__close-modal-button { 
    position: absolute;
    top: 2%;
    right: 2%;
}


button:focus { 
    outline: 0;
}

.hfui__btn-right {
    float: right;
    margin:  10px 15px 0px 0px;
    padding: 10px 30px 10px 30px;
}

.hfui__code-editor {
    display: none;
}