@import '../../variables.scss';

.hfui-select__outer {
  display: flex;
  flex-direction: row;

  > p:first-child {
    font-size: 13px;
    line-height: 45px;
    text-transform: uppercase;
  }
}
.hfui-market__option-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
}
.hfui-market__option-pair {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hfui-select__control {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  min-height: 20px !important;

  &.hfui-select__control--menu-is-open {
    border: none;
  }
}

.hfui-select__control--is-focused {
  border: none !important;
}

.hfui-select__value-container {
  font-size: 12px !important;
}

.hfui-select__single-value {
  color: $text-color !important;
}

.hfui-select__value-container {
  padding: 0 !important;
}

.hfui-select__indicator-separator {
  display: none;
}

.hfui-select__indicator {
  padding: 0 !important;
}

.hfui-select__menu {
  background: $panel-background-color !important;
  box-shadow: none !important;
  border: 1px solid #54b361;
  border-radius: 0 !important;
  border-top: none;
  margin-top: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
}

.hfui-select__menu-list {
  padding-top: 0 !important;
  overflow-x: hidden;
}

.hfui-select__option {
  padding: 0 8px !important;
  font-size: 12px !important;
  line-height: 40px;
}

.hfui-select__option--is-selected {
  background: rgba(255, 255, 255, 0.3) !important;
}

.hfui-select__option--is-focused:not(.hfui-select__option--is-selected) {
  background: rgba(255, 255, 255, 0.1) !important;

  &:hover {
    cursor: pointer;
  }
}

.hfui-select__input {
  color: $text-color !important;
}
