.hfui-settingspage__wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  margin-left: 8%;
  margin-top: 4%;

  .hfui-settings__content {
    width: 100%; 

    .hfui-settings__option-check{
      font-size: .5em;
    }

    li {
      margin-top: 3%;
      width: 100%;
      .hfui-settings__option-label {
        margin-bottom: .5%;
        font-size: 1.2em;
      }
    }

    .hfui-settings__option {
      width: 40%;

      .settings-save * {
        padding: 10px 30px 10px 30px;
      }
    }

    .hfui-settings__option * {
      font-size: 1.2em;

      .field-icon {
        font-size: .8em !important;
        margin-top: -30px;
      }

      .hfui-settings__item-list {
        margin-bottom: 7px;
        font-size: .8em;
      }
    }

    .hfui-setting__select {
      min-width: 125px !important;
      background: #102331;
      color: white;
      width: 40%;
      padding: 7px;
    }

    .hfui-settings__option-description {
      font-size: 13px;
      max-width: 40%;

      > * {
        margin-bottom: 16px;
        opacity: 0.65;
        line-height: 1.5;
      }

      .important {
        opacity: 1.0;
        background: rgba(0, 0, 0, 0.2);
        padding: 8px;
        text-align: center;
      }
    }
  }

  .hfui-settings__title {
    font-size: 1.5em;
    font-weight: 400;
  }
}