.hfui-settingspage__wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    
    .hfui-settings__menu { 
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .hfui-settings__menu-item { 
          width:100%;
          justify-content: space-between;
          display: flex;
          padding: 5% 0% 0 0;
          .hfui-settings__menu-item-label { 
            font-style: bold;
            width: 35%;
          }
          .hfui-settings__menu-item-button { 
            margin-right: 20px;
          }
        }
        li { 
            margin-top: 5% ;
            background: #102331;
            width: 30%;
            padding: 10px 55px 10px 55px;
            list-style: none;
            align-self: center;
            text-align: center;
          }

        li:hover { 
            cursor: pointer;
        }

        .active { 
            color: #4faa5e;
            cursor: pointer;
            border: 1px #4faa5e solid;
          }

    }
    .hfui-settings__content {
        width: 70%; 
      }
    
}