@import '../../variables.scss';

.hfui-strategyeditor__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-removestrategymodal__wrapper {
  button {
    margin-right: 10px;
  }
  .hfui-removestrategymodal__content p{ 
    margin-bottom: 15px;
  }
}

.hfui-strategyeditor__editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: relative;
  z-index: 0;

  &.noresults {
    height: 100%;
  }

  &.exec-error {
    .react-codemirror2, .CodeMirror {
      height: calc(100% - 22px);
    }
  }

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }

  .CodeMirror-code {
    font-size: 13px;
  }

  .cm-s-monokai.CodeMirror {
    border-radius: $border-radius;
    background: $background-color;
  }

  .cm-s-monokai .CodeMirror-gutters {
    background-color: $background-color;
  }
}

.hfui-strategyeditor__editor-error-output {
  font-family: monospace;
  padding: 0 16px;
  background: $panel-background-color;
  color: $red-color;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;

  .strategyeditor__close-icon {
    position: absolute;
    top: 8px;
    right: 5px;
    padding-top: 6px;
  }

  pre {
    white-space: pre-wrap;
    width: calc(100% - 25px);
  }
}

.hfui-strategyeditor__func-select {
  flex-shrink: 0;
  font-size: 13px;
  margin-right: spacing(.75);
  width: 170px;

  li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: 500;
    padding: 0 spacing();
    cursor: pointer;
    transition: all .2s;
    border-bottom: 1px solid $light-color-50;
    background: $background-color;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:active {
      transition-duration: 0.05s;
      background: rgba(0, 0, 0, .1);
    }

    p:first-child {
      margin-right: spacing();
    }

    &:not(.active) {
      color: $light-color-500;
    }

    &.empty {
      color: $strategy-empty-color;
    }

    &:hover {
      cursor: pointer;
      color: $light-color-900;
      background-color: $light-color-50;
    }

    &.hasError {
      color: $red-color !important;
    }

    &.active {
      font-weight: 600;
      color: $primary-color-900;
      background: $primary-color-50;
    }
  }
}

.hfui-strategyeditor__header {
  margin: 0 spacing(0.25);

  .hfui-button {
    height: 32px;
    padding: 0 spacing(0.75);
    margin: 0 spacing(0.25);
  }
}

.hfui-strategyeditor__content-wrapper {
  width: calc(100% - 182px); // width of hfui-strategyeditor__func-select + margin-right
}

.hfui-strategyeditor__results-outer {
  display: flex;
  flex-direction: row;
  height: 42%;
}

.hfui-strategyeditor__header-label {
  border: none !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hfui-strategyeditor__panel {
  .notch-icon {
    font-size: 18px;
    color: $text-color !important;
    padding: 3px 7px;
  }
}
