@import '../../variables.scss';

.hfui-strategyeditor__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-removestrategymodal__wrapper {
  button {
    margin-right: 10px;
  }
  .hfui-removestrategymodal__content p{ 
    margin-bottom: 15px;
  }
}

.hfui-strategyeditor__editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: relative;
  z-index: 0;
  background: $black-color;

  &.noresults {
    height: 100%;
  }

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }

  .CodeMirror-code {
    font-size: 13px;
  }

  .cm-s-monokai.CodeMirror {
    background: $background-color;
  }

  .cm-s-monokai .CodeMirror-gutters {
    background-color: $background-color;
  }

  &.maximised {
    position: fixed;
    left: 150px;
    top: 99px;
    width: calc(100% - 152px);
    z-index: 99;
    height: calc(100% - 134px);
    border: 1px solid $black-color;
  }
}

.hfui-strategyeditor__editor-error-output {
  font-family: monospace;
  padding: 0 16px;
  background: $panel-background-color;
  color: $red-color;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: calc(100% - 32px);
  z-index: 9999;
  border-top: 1px solid $dark-grey-color;

  .fas.fa-times-circle {
    position: absolute;
    top: 12px;
    right: 8px;

    &:hover {
      color: $yellow-color;
      cursor: pointer;
    }
  }

  pre {
    white-space: pre-wrap;
  }
}

.hfui-strategyeditor__func-select {
  font-size: 13px;
  margin-right: spacing();

  li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: 500;
    padding: 0 spacing();
    cursor: pointer;
    transition: all .2s;
    border-bottom: 1px solid $light-color-50;
    background: $background-color;

    &:last-child {
      border-bottom: 0;
    }

    &:active {
      transition-duration: 0.05s;
      background: rgba(0, 0, 0, .1);
    }

    p:first-child {
      margin-right: spacing();
    }

    &:not(.active) {
      color: $light-color-500;
    }

    &.empty {
      color: $strategy-empty-color;
    }

    &:hover {
      cursor: pointer;
      color: $light-color-900;
      background-color: $light-color-50;
    }

    &.hasError {
      color: $red-color !important;
    }

    &.active {
      font-weight: 600;
      color: $primary-color-900;
      background: $primary-color-50;
    }
  }
}

.hfui-strategyeditor__header {
  margin: 0 (0 - spacing(0.25));

  .hfui-button {
    height: 32px;
    padding: 0 spacing(0.75);
    margin: 0 spacing(0.25);
  }
}

.hfui-strategyeditor__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hfui-strategyeditor__results-outer {
  display: flex;
  flex-direction: row;
  height: 42%;
}

.hfui-strategyeditor__header-label {
  border: none !important;
  margin: 0;
  padding: 0;
  text-align: center;
}
