@import '../../variables.scss';

.hfui-strategyeditor__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-removestrategymodal__wrapper {
  button {
    margin-right: 10px;
  }
  .hfui-removestrategymodal__content p{ 
    margin-bottom: 15px;
  }
}

.hfui-strategyeditor__editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: relative;
  z-index: 0;
  background: $black-color;

  &.noresults {
    height: 100%;
  }

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }

  .CodeMirror-code {
    font-size: 13px;
  }

  .cm-s-monokai.CodeMirror {
    background: $code-background-color;
  }

  .cm-s-monokai .CodeMirror-gutters {
    background-color: $background-color;
  }

  &.maximised {
    position: fixed;
    left: 150px;
    top: 99px;
    width: calc(100% - 152px);
    z-index: 99;
    height: calc(100% - 134px);
    border: 1px solid $black-color;
  }
}

.hfui-strategyeditor__editor-error-output {
  font-family: monospace;
  padding: 0 16px;
  background: $panel-background-color;
  color: $red-color;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: calc(100% - 32px);
  z-index: 9999;
  border-top: 1px solid $dark-grey-color;

  .fas.fa-times-circle {
    position: absolute;
    top: 12px;
    right: 8px;

    &:hover {
      color: $yellow-color;
      cursor: pointer;
    }
  }

  pre {
    white-space: pre-wrap;
  }
}

.hfui-strategyeditor__func-select {
  width: 150px;
  min-width: 150px;
  font-size: 13px;
  background: $background-color;
  margin: 12px;

  li {
    padding: 0 8px;
    border-bottom: 0.5px solid mix($background-color, $white-color, 95%);

    display: flex;
    flex-direction: row;

    p {
      height: 25px;
      line-height: 25px;
      text-transform: uppercase;
    }

    p:first-child {
      width: 100%;
    }

    &.active {
      color: $green-color !important;
      border-bottom: 1px solid $green-color;
    }

    &:not(.active) {
      color: $strategy-not-active-color;
    }

    &.empty {
      color: $strategy-empty-color;
    }

    &:hover {
      cursor: pointer;
      color: $green-color;
    }

    &.hasError {
      color: $red-color !important;
    }
  }
}

.hfui-strategyeditor__header {
  text-align: right;

  .hfui-button {
    padding: 8px 13px;

    &:not(.green) {
      background: $background-color;
    }

    button {
      font-size: 13px;
    }

    button, i {
      color: $white-color;
    }
  }
}

.hfui-strategyeditor__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hfui-strategyeditor__results-outer {
  display: flex;
  flex-direction: row;
  height: 42%;
}

.hfui-strategyeditor__header-label {
  border: none !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hfui-strategyeditor__panel {
  .hfui-panel__header {
    border-bottom: 1px solid $desaturated-background-color;
    
    .hfui-panel__label {
      line-height: 57px;
    }
  }

  .hfui-panel__header-components {
    width: calc(100% - 155px);

    .hfui-strategyeditor__header {
      width: calc(100% - 16px);
      padding: 14px 16px 14px 0;

      > * {
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
