@import '../../variables.scss';

.hfui-marketselect {
  min-width: 185px !important;

  li {
    margin: 0 !important;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.hfui-marketselect__option {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hfui-marketselect__icon {
  margin: -2px -6px -2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: background-color .2s;

  &:hover {
    background: rgba(255, 255, 255, .2);
  }

  &:active {
    background: rgba(0, 0, 0, .2);
    transition-duration: 0.05s;
  }

  svg {
    display: block;
  }
}