@import '../../variables.scss';

.hfui-tradingpage__wrapper {
  height: 98vh;
}

.hfui-tradingpage__inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-tradingpage__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  .hfui-tvchart__wrapper > #__tvchart {
    height: calc(100% - 8px);
    padding: 4px 1px 4px 4px;
    background: $desaturated-background-color;
  }

  .hfui-tradingstatepanel__wrapper {
    .hfui-table {
      margin: 0 12px;
    }
  }

  .hfui-chart__wrapper {
    width: 100%;
    height: 100%;
  }

  &.left {
    min-width: 351px;
    max-width: 351px;
  }

  &.right {
    min-width: 338px;
  }

  &.center {
    width: 100%;
  }

  .hfui-orderbook__wrapper {
    padding: 0 20px;
  }
}

.hfui-refillbalance__modal {
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 100%;
    .hfui-input {
      width: 100%;
      border-radius: 8px;
    }
  }
}
