.hfui-tradingpage__wrapper {
  height: 100%;
}

.hfui-tradingpage__inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.hfui-tradingpage__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  .hfui-tvchart__wrapper, .hfui-tradingpage__chart {
    height: 70%;
  }

  .hfui-tvchart__wrapper > #__tvchart {
    height: calc(100% - 8px);
    padding: 4px 1px 4px 4px;
    background: #2f3240;
  }

  .hfui-tradestable__wrapper, .hfui-tradingstatepanel__wrapper {
    height: 30%;
  }

  .hfui-tradingstatepanel__wrapper {
    .hfui-table {
      margin: 0 12px;
    }
  }

  &.left {
    min-width: 351px;
  }
  
  &.right {
    min-width: 338px;
  }

  &.center {
    width: 100%;
  }

  .hfui-orderbook__wrapper {
    padding-right: 31px;
  }
}
