.panel__wrapper {
  padding: 0;
}

.panel__header {
  color: #989898;
  margin-bottom: 5px;

  &.upper {
    text-transform: uppercase;
  }
}

.panel__content {
  border: 1px solid #294d69;
  background: rgba(0, 0, 0, 0.1);
}
