@import '../../variables.scss';

.hfui-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background: hsl(206, 46%, 17%);
  border-radius: $border-radius;

  &.monokai {
    background: rgb(39, 40, 34)
  }

  &.dark {
    background: $panel-background-color;

    .hfui-select {
      background: $background-color;
      padding: 0 spacing(1);
    }
  }

  &.dark-header .hfui-panel__header {
    background: $panel-background-color;
  }
}

.hfui-panel__secondaryheader__wrapper,
.hfui-panel__header-icons {
  .ufx-dropdown {
    .dropdown-field {
      background: none !important;
      border: none !important;
      transition: all .2s;
  
      &:hover {
        color: $light-color-900;
      }
    }
  }
}

.hfui-panel__secondaryheader__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 0 spacing(.75) 0;
  padding: 0 spacing(1);

  &.reverse {
    flex-direction: row-reverse;

    .hfui-select__control {
      margin-left: 0;
      margin-right: 16px;
    }

    > * {
      margin-right: 0;
      margin-left: 40px;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.hfui-panel__header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  background: $background-color;
  justify-content: space-between;
  padding: spacing(.5) spacing(.5) spacing(.5) spacing(1);

  &.has-secondary-header {
    border-bottom: none;
  }

  .close:hover {
    cursor: pointer;
  }
}

.hfui-panel__header,
.hfui-panel__secondaryheader__wrapper {
  .hfui-select__value-container {
    width: 70px;
  }

  .hfui-select__control {
    height: 35px;
  }

  .hfui-select__menu {
    margin-left: 8px;
    z-index: 999;
  }
}

.hfui-panel__header-tabs {
  flex-shrink: 0;
  flex-grow: 1;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    cursor: pointer;
    border-radius: $border-radius;
    transition: all .2s;

    .hfui-panel__label {
      transition: all .2s;
      color: $light-color-500;

      &:hover {
        color: $light-color-800;
      }
    }

    &.active {
      background: $primary-color-50;
      
      .hfui-panel__label {
        color: $primary-color-800;
      }
    }
  }
}

.hfui-panel__preheader {
  display: flex;
  height: 30px;
  align-self: center;
}

.hfui-panel__buttons-section {
  display: flex;

  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-panel__header-components {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  & > * {
    margin-right: 8px;
  }

  > p {
    line-height: 31px;
    font-size: 13px;

    &:first-child {
      margin-left: 8px;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .hfui-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hfui-select__value-container .hfui-select__single-value {
    color: $green-color !important;
  }

  .hfui-dropdown__wrapper {
    margin-top: 5px;
  }
}

.hfui-panel__header-icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  p {
    font-size: 13px;
    margin-right: 8px;
    line-height: 32px;
  }

  i, span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: $light-color-500;
    transition: all .2s;
    cursor: pointer;
    border-radius: $border-radius;

    &.disabled {
      cursor: not-allowed;
      color: $light-color-300;
    }

    &:hover:not(.disabled) {
      color: $light-color-900;
      background: $light-color-50;
    }

    &.high-contrast {
      background: $background-color;
    }

    &.no-margin {
      margin-right: 0;
    }

    &.small {
      line-height: 15px;
    }
  }

  .fa-circle-notch {
    animation: hfui-panel-spinner-rotate 1s infinite ease-in-out both;
    color: $yellow-color !important;
  }

  .icon-move {
    cursor: move;
  }
}

.hfui-panel__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  flex-shrink: 0;
  color: $light-color-900;
}

.hfui-panel__close {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: $border-radius;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  color: transparentize($white-color, 0.3);
  transition: all .2s;

  &:hover, &:focus {
    background: rgba(255, 255, 255, .1);
    color: $white-color;
  }

  &:active {
    background: rgba(0, 0, 0, .1)
  }
}

.hfui-panel__content {
  position: relative;
  flex-grow: 1;
  padding: 0 spacing();
}

@keyframes hfui-panel-spinner-rotate {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(360deg);
  }
}
