.dtc-panel {
  width: 100%;
  height: 100%;

  outline: 1px solid #2f3240;
  overflow: hidden;
  background: #131723;
}

.dtc-panel__header {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #101221;
  background: #0c0f17;

  .yellow {
    color: #fcd206 !important;
  }

  .dtc-select.yellow .dtc-select__value-container > * {
    color: #fcd206 !important;
  }

  .dtc-select__value-container {
    width: 70px;
  }

  .dtc-select__control {
    height: 30px;
    margin-left: 16px;
  }

  .dtc-select__menu {
    margin-left: 8px;
    z-index: 999;
  }
}

.dtc-panel__header-tabs {
  flex-shrink: 0;
  margin-left: 16px;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    height: 32px;

    &.active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.dtc-panel__header-components {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  & > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  > p {
    line-height: 31px;
    font-size: 12px;

    &:first-child {
      margin-left: 8px;
    }
  }

  .disabled {
    opacity: 0.5;
  }
}

.dtc-panel__header-icons {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;

  p {
    font-size: 11px;
    margin-right: 8px;
    line-height: 32px;
  }

  i {
    line-height: 32px;
    margin-right: 8px;
    font-size: 12px;

    &:first-child {
      margin-right: 0;
    }

    &:hover:not(.disabled) {
      cursor: pointer;
      color: #eee;
    }
  }

  .fa-circle-notch {
    animation: dtc-panel-spinner-rotate 1s infinite ease-in-out both;
    color: #fcd206 !important;
  }
}

.dtc-panel__label {
  font-size: 11px;
  color: #666;
  line-height: 32px;
  flex-shrink: 0;
}

.dtc-panel__content {
  position: relative;
}

@keyframes dtc-panel-spinner-rotate {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(360deg);
  }
}
