.hfui-panel {
  width: 100%;
  height: 100%;

  overflow: hidden;
  background: #172d3e;

  &.dark-header .hfui-panel__header {
    background: #102331;
  }
}

.hfui-panel__header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #102331;
  background: #172d3e;
  margin-left: 24px;

  .yellow {
    color: #fcd206 !important;
  }

  .hfui-select.yellow .hfui-select__value-container > * {
    color: #fcd206 !important;
  }

  .hfui-select__value-container {
    width: 70px;
  }

  .hfui-select__control {
    height: 30px;
    margin-left: 16px;
  }

  .hfui-select__menu {
    margin-left: 8px;
    z-index: 999;
  }
}

.hfui-panel__header-tabs {
  flex-shrink: 0;
  margin-left: 16px;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    height: 32px;

    &.active {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.hfui-panel__header-components {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  & > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  > p {
    line-height: 31px;
    font-size: 12px;

    &:first-child {
      margin-left: 8px;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .hfui-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hfui-panel__header-icons {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  p {
    font-size: 11px;
    margin-right: 8px;
    line-height: 32px;
  }

  i {
    line-height: 32px;
    margin-right: 8px;
    font-size: 14px;
    color: #fff;

    &:first-child {
      margin-right: 0;
    }

    &:hover:not(.disabled) {
      cursor: pointer;
      color: #eee;
    }
  }

  .fa-circle-notch {
    animation: hfui-panel-spinner-rotate 1s infinite ease-in-out both;
    color: #fcd206 !important;
  }
}

.hfui-panel__label {
  font-weight: 500;
  font-size: 13px;
  color: #54b361;
  line-height: 45px;
  flex-shrink: 0;
  text-transform: uppercase;
}

.hfui-panel__content {
  position: relative;
}

@keyframes hfui-panel-spinner-rotate {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(360deg);
  }
}
