.btheaderbar__wrapper {
  width: 100%;
  border-bottom: 1px solid #0d1e2b;

  .bp3-button-text {
    color: #fff;
  }

  input {
    margin: 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 32px;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    input, button {
      font-size: 12px;
    }

    button {
      border-radius: 0;
      background: transparent !important;
      box-shadow: none !important;

      &.bp3-active {
        background: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }

  .bp3-control-group {
    display: flex;
    flex-direction: row;
  }

  .bp3-input-group {
    border-radius: 0 !important;
  }
}