@import '../../variables.scss';

.hfui-orderstable__wrapper {
  padding-bottom: 8px;

  .empty {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }

  .icons-cell > * {
    margin-right: 8px;
    font-size: 16px;
  
    &:hover {
      cursor: pointer;
      color: $text-color;
    }
  }

  .row-marker {
    background: transparent;
    border-radius: 50%;
    width: 12px;
    height: 12px;

    &.green {
      background-color: $green-color;
    }

    &.red {
      background-color: $red-color;
    }
  }
}
