.dtc-orderstable__wrapper {
  color: #666;
  padding: 8px 8px 0 8px;
  overflow: hidden;

  > p:first-child {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .dtc-orderstable__header {
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
    margin-bottom: 2px;

    p {
      text-transform: uppercase;
    }
  }

  li {
    display: flex;
    flex-direction: row;

    p {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      color: #eee;

      margin-right: 32px;

      &:last-child {
        text-align: right;
        margin-right: 0;
      }
    }

    &.buy .dtc-orderstable__amount {
      color: green;
    }

    &.sell .dtc-orderstable__amount {
      color: red;
    }
  }
}