@import '../../variables.scss';

.hfui-orderstable__wrapper {
  padding-right: 18px;

  div {
    overflow-y: visible;
  }

  th {
    font-size: 12px;
    line-height: 16px;
    color: $text-color !important;
  }

  .empty {
    font-size: 20px;
  }

  .row {
    font-size: 12px;
    line-height: 16px;

    td {
      color: $text-color !important;
      background-color: $background-color !important;
    }
  }
}