@import '../../variables.scss';

.hfui-orderstable__wrapper {
  padding-bottom: 8px;

  .empty {
    margin-top: 10px;
    text-align: center;
  }

  .icons-cell > * {
    margin-right: 8px;
    font-size: 16px;
  
    &:hover {
      cursor: pointer;
      color: $text-color;
    }
  }
}
