@import '../../variables.scss';

.hfui-markdown__wrapper {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #0c1b26;
  color: $white-color; 
  
  code { 
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px; 
  }

  p  {
    a {
      color: #fd971f;
      text-decoration: none;
    }
    code { 
      color: #9effff;
    }
  }
  dl {
    dt {
      a { 
        color: #fd971f;
        text-decoration: none;
      }
      code { 
        color: #9effff;
      }
    }
    dd {
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
  
  p { 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 { 
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #fd971f;
    code { 
      color: #9effff;
    }
  }
  h2:first-child { 
    color: $white-color;
  }
  table * {
    padding: 5px;
  }
  table { 
    border-collapse: collapse;
  }
  table, th, td{ 
    border:1px solid gray;
  }
}
