@import '../../variables.scss';

.hfui-navbar__wrapper {
  z-index: 101;
  position: relative;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 12px;
  background: $panel-background-color;
  height: 34px;

  svg {
    width: 70px;
    margin-left: 31px;
    margin-right: 10px
  }

  &, button {
    color: $text-color;
  }

  > p {
    flex-shrink: 0;
    margin-right: 32px;
  }

  p, button {
    line-height: 32px;
  }

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    outline: none;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    transition: all .2s;

    &:hover, &.active {
      border-bottom: 2px solid $green-color;
      color: $green-color;
    }

    &.hover {
      cursor: pointer;
    }
  }

  & .fa {
    display: block;
  }

  li {
    margin-right: 8px;
    flex-shrink: 0;

    &.full-width {
      flex-grow: 1;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-navbar__main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
