@import '../../variables.scss';

.hfui-navbar__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 13px;
  background: $panel-background-color;
  height: 52px;
  padding: 0 spacing(1.25);
  margin-bottom: 20px;

  .hfui-navbar__logo {
    width: 83px;
    margin-right: spacing();
  }

  &, button {
    color: $text-color;
  }

  > p {
    flex-shrink: 0;
    margin-right: 32px;
  }

  p {
    line-height: 34px;
  }

  .hfui-navbar__main-links button {
    display: flex;
    align-items: center;
    background: transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 0;
    margin: 0 spacing(.5);
    outline: none;
    height: 52px;
    font-size: 13px;
    font-weight: 600;
    transition: all .2s;
    color: $light-color-600;

    &:hover, &.active {
      border-bottom: 2px solid $primary-color-900;
      color: $light-color-900;
    }

    &.hover {
      cursor: pointer;
    }

    p {
      line-height: inherit;
    }
  }

  & .fa {
    display: block;
  }

  li {
    margin-right: 8px;
    flex-shrink: 0;

    &.full-width {
      flex-grow: 1;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-navbar__main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.hfui-tradingpage__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.hfui-navbar__layout-settings {
  position: relative;
}

.hfui-navbar__layout-settings__menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 240px;
  padding: spacing(0.5) 0;
  background: $lighter-background-color;
  border-radius: $border-radius;
  // border: 1px solid $light-color-100;
}

.hfui-navbar__layout-settings__title {
  color: $light-color-900;
  font-size: 14px;
  font-weight: 600;
  padding: spacing(0.5) spacing(1);
}

.hfui-navbar__layout-settings__separator {
  height: 1px;
  background: $light-color-100;
  margin: spacing(0.5) 0;
}

.hfui-navbar__layout-settings__item {
  color: $light-color-600;
  font-size: 14px;
  font-weight: 500;
  padding: spacing(0.5) spacing(1);
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background: $light-color-100;
    color: $light-color-900;
  }

  &.is-layout {
    position: relative;
    padding-left: spacing(2.75);

    .hfui-navbar__layout-settings__delete {
      position: absolute;
      top: 4px;
      right: spacing(0.75);
      display: flex;
      width: 24px;
      height: 24px;
      border-radius: $border-radius;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      opacity: 0;

      .icon-clear:before {
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    &:hover {
      .hfui-navbar__layout-settings__delete {
        opacity: 1;

        &:hover {
          background: $light-color-300;
        }
      }
    }
  }

  &.is-selected:before {
    display: block;
    position: absolute;
    top: spacing(0.5) + 1;
    left: spacing(1);
    font-family: "untitled-font-4";
    content: 'S'; // check
  }

  .hfui-navbar__layout-settings__item-unsaved {
    color: $light-color-300;
  }
}

.hfui-exchangeinfobar__buttons {
  display: flex;
  margin-right: spacing();
}

.hfui-exchangeinfobar__button {
  cursor: pointer;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  background-color: transparent;
  opacity: 1 !important;

  i,
  i:before {
    display: block;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background: $light-color-50 !important;
    color: $light-color-900;
  }

  &:active {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  &.is-open {
    background: $primary-color-100 !important;
    color: $primary-color-900;
  }
}