.hfui-navbar__wrapper {
  z-index: 101;
  position: relative;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 12px;
  background: #102331;
  height: 33px;

  svg {
    width: 70px;
    margin-left: 31px;
    margin-right: 10px
  }

  &, button {
    color: #eee;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 13px;

    &:hover, &.active {
      border-bottom: 2px solid #54b361;
      color: #4faa5e;
    }

    &.hover {
      cursor: pointer;
    }
  }

  & > *, li {
    display: inline-block;
    vertical-align: middle;
  }

  li {
    margin-right: 8px;
    padding: 0 8px;
    flex-shrink: 0;

    &.full-width {
      flex-grow: 1;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-navbar__main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
