@import '../../variables.scss';

.hfui-active-ao-modal__table {
  margin: 0 spacing(-0.75);

  tbody tr:not(:last-child) {
    cursor: pointer;
    
    &:hover {
      background: $panel-background-color;
    }
  }

  .ufx-checkbox {
    margin-top: 0;
  }
}
