@import '../../variables.scss';

.ps.ps {
  .ps__thumb-y,
  .ps__thumb-x {
    width: 5px;
    background: $light-color-100;
    transition-duration: .05s !important;
    transition-timing-function: ease !important;
    opacity: 1 !important;
  }

  .ps__rail-x:hover,
  .ps__rail-y:hover,
  .ps__rail-x:focus,
  .ps__rail-y:focus,
  .ps__rail-x.ps--clicking,
  .ps__rail-y.ps--clicking {
    background: none;

    > .ps__thumb-y,
    > .ps__thumb-x {
      width: 5px;
      background: $light-color-300;
    }
  }
}