@import '../../variables.scss';

.hfui-notificationssidebar__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  z-index: 1000;

  &.visible {
    width: 30%;
    margin-right: 0;
  }

  ul {
    height: 100%;
  }

  &.absoulute {
    z-index: 9999999999;
  }

  .hfui-panel,
  .hfui-panel__header {
    background-color: mix($black-color, $panel-background-color, 10%);
  }
}

.hfui-notificationssidebar__external {
  position: absolute;
  top: 0;
  right: 32px;
  width: 400px;

  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 8px) !important;
  pointer-events: none;
}

.fa-check, .fa-times, .fa-lock, .fa-trash{
  float: left;
  margin: 10px;
  margin-top: 12px;
}

.hfui-notification-data {
  width: 100%;
  display: flex; 
  flex-direction: column;
  padding-right: spacing(0.75);
}

.hfui-notification__close {
  position: absolute;
  z-index: 1;
  top: spacing(0.375);
  right: spacing(0.375);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: $border-radius;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: transparentize($white-color, 0.3);
  transition: all .2s;

  &:hover {
    background: rgba(255, 255, 255, .1);
    color: $white-color;
  }

  &:active {
    background: rgba(0, 0, 0, .1)
  }
}

.hfui-notification__ts {
  font-size: 12px;
  color: $text-color;
}

.hfui-notification-msg {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: spacing(.5);
}

.hfui-notification {
  position: relative;
  z-index: 9999999;
  margin: 0 spacing(.75) spacing(1) spacing(.75);
  border-radius: $border-radius;
  padding: spacing();
  font-size: 12px;
  background: $background-color;
  text-align: left;
  display: flex;
  pointer-events: all !important;

  > p:first-child {
    line-height: 1.3;
  }

  &.success {
    color: $green-color;
    border-color: 1px solid $green-color;
  }

  &.warning {
    color: $yellow-color;
    border-color: $yellow-color;
  }

  &.error {
    color: $red-color;
    border-color: 1px solid $red-color;
  }

  &.info {
    color: $notifications-info-color;
    border-color: 1px solid $notifications-info-color;
  }

  &.closed {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    width: 0;
  }
}

.hfui-notification-icon { 
  width: 32px;
  height: 22px;
  display: flex;
  align-items: center;
}

.hfui-notificationssidebar__header-btn {
  color: transparentize($white-color, 0.3);
  background: mix($black-color, $panel-background-color, 10%);
  transition: all .2s;

  &:hover {
    background: rgba(255, 255, 255, .1);
    color: $white-color;
  }

  &:active {
    background: rgba(0, 0, 0, .1)
  }
}

.hfui-notificationssidebar__empty {
  color: $text-color;
  text-align: center;
  margin-top: 5%;
}
