@import '../../variables.scss';

.hfui-notificationssidebar__wrapper {
  position: fixed;
  top: 33px;
  right: 0;
  width: 0;
  height: calc(100% - 33px); // take into account statusbar
  background: $black-color;
  border-left: 1px solid $grey-color;
  z-index: 1000;
  margin-right: -1px;

  &.visible {
    width: 30%;
    margin-right: 0;
  }

  ul {
    height: 100%;
  }
  &.absoulute {
    z-index: 9999999999;
  }
}
.hfui-notificationssidebar__external {
  position: absolute;
  top: 0;
  right: 32px;
  width: 400px;

  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 8px) !important;
  pointer-events: none;
}

.fa-check, .fa-times, .fa-lock, .fa-trash{
  float: left;
  margin: 10px;
  margin-top: 12px;
}
.hfui-notificationssidebar__notch {
  position: absolute;
  bottom: 66px;
  left: -24px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  background: #0d101f;
  border: 0.5px solid #282e58;
  border-right: none;
  text-align: center;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: $green-color;
    border-color: $green-color;
  }
}
.hfui-notification-data {
  width: 100%;
  display: flex; 
  flex-direction: column;
}

.hfui-notification__close { 
  text-align: right;
  font-weight: 500;
}

.hfui-notification__close:hover { 
  cursor: pointer;
}

.hfui-notification__ts {
  font-size: 14px;
  margin-top: 8px;
  width: 100%;
  text-align: cetner;
  color: $white-color;
  &:hover {
    cursor: pointer;
  }

}
.hfui-notification-msg {
  color:$green-color;
}
.hfui-notification {
  z-index: 9999999;
  margin: 8px;
  border: 1px solid #333;
  padding: 10px;
  font-size: 12px;
  background: $panel-background-color;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  pointer-events: all !important;
  > p:first-child {
    line-height: 1.3;
  }
  img {
    padding-right: 30px ;
  }
  &.success {
    color: $green-color;
    border-color: 1px solid $green-color;
  }

  &.warning {
    color: $yellow-color;
    border-color: $yellow-color;
  }

  &.error {
    color: $red-color;
    border-color: 1px solid $red-color;
  }

  &.info {
    color: #82BAF6;
    border-color: 1px solid #82BAF6;
  }
  &.closed {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    width: 0;
  }
}

.hfui-notification-icon { 
  align-self: center;
  width: 25%;
  /* margin-left: 0; */
  position: absolute;
  left: 0;
}

