@import '../../variables.scss';

.hfui-notificationssidebar__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 30%;
  margin-right: 0;

  &.visible {
    transform: translateX(0%);
    transition: transform 700ms cubic-bezier(.29,.58,.05,1);
  }

  &.hidden {
    transform: translateX(100%);
    transition: transform 700ms cubic-bezier(.77,0,.175,1);
  }

  .hfui-notificationssidebar__external {
    height: 100%;
  }

  .hfui-panel,
  .hfui-panel__header {
    background-color: $background-color;
  }

  .hfui-panel__content {
    padding: 0 spacing(0.25);
  }
}

.hfui-notificationssidebar__external {
  padding-bottom: 30px;
  width: 400px;
  pointer-events: none;
  max-height: 100% !important;

  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 8px) !important;
}

.hfui-sidebar-notifications {
  position: inherit !important;
  width: 100%;
  bottom: auto !important;
  right: auto !important;
}

.message {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: spacing(.5);
}

.expand-button {
  border: none !important;
  justify-content: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ufx-notifications .message {
  width: 95% !important;
}

.ufx-notifications .close-button {
  position: absolute;
  top: spacing(0.375);
  right: spacing(0.375);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: $border-radius;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: transparentize($white-color, 0.3);
  transition: all .2s;

  &:hover {
    background: rgba(255, 255, 255, .1);
    color: $white-color;
  }

  &:active {
    background: rgba(0, 0, 0, .1)
  }
}

.ufx-notifications__level {
  position: relative;
  z-index: 100;
  margin: 0 spacing(.75) spacing(1) spacing(.75);
  border-radius: $border-radius;
  padding-top: spacing() * 0.625;
  font-size: 13px;
  background: $lighter-background-color;
  text-align: left;
  display: flex;
  flex-direction: column;
  pointer-events: all !important;

  .message {
    color: rgba(255, 255, 255, .9) !important;
  }
}

.hfui-notificationssidebar__header-btn {
  color: transparentize($white-color, 0.3);
  background: $background-color;
  transition: all .2s;

  &:hover {
    background: rgba(255, 255, 255, .1);
    color: $white-color;
  }

  &:active {
    background: rgba(0, 0, 0, .1)
  }
}

.hfui-notificationssidebar__empty {
  color: $text-color;
  text-align: center;
  margin-top: 5%;
}
