@import '../../variables.scss';

.appsettings-modal {
  min-height: 336px;

  .modal__body {
    display: flex;
    width: 100%;
    margin: 0 (0 - spacing(0.25)) (0 - spacing(0.25));
    text-align: left;
    padding-top: spacing(0.25) !important;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    color: $light-color-900;
    margin-bottom: spacing();
  }

  p {
    margin-bottom: spacing();
  }

  &__tabs {
    border-radius: $border-radius;
    background: $panel-background-color;
    padding: spacing(0.75) spacing(0.5);
  }

  &__tab {
    min-width: 160px;
    padding: spacing(0.5) spacing(0.75);
    cursor: pointer;
    border-radius: $border-radius;
    transition: all 0.2s;
    color: $light-color-500;
    margin-bottom: spacing(0.5);
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $light-color-800;
      background-color: $light-color-50;
    }

    &.is-active {
      background: $primary-color-50;
      color: $primary-color-800;
    }
  }

  &__content {
    flex-grow: 1;
    padding: spacing(0.75) spacing(1.5);
  }

  &__setting {
    margin-bottom: spacing(1.5);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }

  &__description {
    padding-left: 25px; // match ufx checkbox
    color: $light-color-500;
  }

  &__warning {
    display: inline-block;
    background: mix($red-color, $background-color, 10%);
    border-radius: $border-radius;
    color: $red-color;
    padding: spacing(0.5) spacing();
  }

  &__checkbox {
    font-weight: 600;
    color: $light-color-800;
    margin-bottom: spacing(0.5);
  }

  &__input {
    margin-bottom: spacing(0.5);

    .field-icon {
      margin-top: -32px;
      padding: 6px;
    }
  }

  &__api-configuration-message {
    display: flex;
    padding: spacing();
    border-radius: $border-radius;
    margin-bottom: spacing(1.5);

    &.is-success {
      color: $primary-color-900;
      background: $primary-color-50;
    }

    &.is-error {
      color: $red-color;
      background: mix($red-color, $background-color, 10%);
    }

    &.is-warning {
      color: $yellow-color;
      background: mix($yellow-color, $background-color, 10%);
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: spacing(0.5);
    }
  }
}
