@import '../../variables.scss';

.ufx-dropdown {
  &.is-highlighted {
    .dropdown-field {
      border: 1px solid mix($white-color, $input-background-color, 15%);
    }
  }

  .selected-text.has-icon {
    display: flex;
    align-items: center;
    width: 100%;
  }

  [class*=icon-] {
    margin-right: spacing(0.5);

    &:before {
      display: block;
    }
  }
}