@import '../../variables.scss';

.hfui-dropdown__wrapper {
  font-size: 13px;
  position: relative;
  user-select: none;
  max-height: 300px;

  ul {
    position: absolute;
    top: 34px;
    left: 0;
    border: 1px solid $green-color;
    width: 200px;
    background: $panel-background-color;
    z-index: 999;

    &.with-icon {
      padding-left: 32px;
    }

    li {
      line-height: 40px;
      padding: 0 8px;
      background: $panel-background-color;

      &:hover:not(.label) {
        text-decoration: underline;
        cursor: pointer;
      }

      &.label {
        text-align: center;
        border-bottom: 1px solid $black-color;
        border-top: 1px solid #222;
        font-size: 11px;
        line-height: 20px;
      }
    }
  }
}

.hfui-dropdown__button-wrapper {
  position: relative;
}

.hfui-dropdown__button {
  display: flex;
  flex-direction: row;
  padding-left: 8px;

  &.highlight {
    box-shadow: inset 0 0 0 2px mix($green-color, $panel-background-color, 50%);

    &, i, p {
      color: $green-color;
    }
  }

  > i:first-child {
    right: auto;
    left: 15px;
    font-size: 10px;
    margin-top: 12px;
    color: $text-color;
  }

  p {
    line-height: 35px;
    flex-shrink: 0;
    flex: 1;

    &.with-icon {
      padding-left: 32px;
    }
  }

  i {
    margin: 10px 16px 0 4px;

    &:last-child {
      top: 2px;
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}