.hfui-registermodal__wrapper {
  display: flex;
  flex-direction: column;

  width: 300px;
  padding: 16px;

  border-color: #fcd206;

  > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hfui-registermodal__header {
  > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }

  p {
    font-size: 12px;
    color: #666;
    float: right;
  }
}

.hfui-registermodal__footer {
  font-size: 12px;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  .button {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #fcd206;
    }
  }
}