@import '../../variables.scss';

.hfui-favoritepair__wrapper {
    background: $panel-background-color;
    margin-bottom: spacing(1.25);
}

.hfui-favoritepair__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 45px;
    flex-shrink: 0;
    text-transform: uppercase;
    color: $green-color;
    padding: 0 10px;
}

.hfui-favoritepair__content {
    display: flex;
    flex-wrap: wrap;
    min-height: 82px;
    max-height: 150px;
    padding: 10px;
    padding-bottom: 0;
    overflow-y: auto;
}
.hfui-favoritepair__content::-webkit-scrollbar {
    width: 5px;
}

.hfui-favoritepair__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.hfui-favoritepair__content-notice {
    font-weight: 300;
    font-size: .7em;
    color: $white-color;
    display: flex;
    padding: 10px;
    svg {
        margin-right: 4px;
    }
}
.hfui-favoritepair__content-item {
    background-color: $panel-background-color;
    display: block;
    flex: 1;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: spacing(0.75);
    font-size: 13px;
    cursor: pointer;

    &.active {
        color: $green-color;
    }
}

.hfui-favoritepair__item-wrapper { 
    display: flex;
    gap: 5px;
    align-items: center;
}
.empty { 
    color:$white-color;
    font-size: 0.8em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
