@import '../../variables.scss';

.hfui-favoritepair__wrapper {
    background: $panel-background-color;
    margin-bottom: spacing(1.25);
}

.hfui-favoritepair__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 45px;
    flex-shrink: 0;
    text-transform: uppercase;
    color: $green-color;
    padding: 0 spacing(1, true);
}

.hfui-favoritepair__content {
    display: flex;
    flex-wrap: wrap;
    min-height: 82px;
    max-height: 150px;
    padding: spacing(1, true);
    padding-bottom: 0;
    overflow-y: auto;
}
.hfui-favoritepair__content::-webkit-scrollbar {
    width: 5px;
}

.hfui-favoritepair__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.hfui-favoritepair__content-notice {
    font-weight: 300;
    font-size: .7em;
    color: $white-color;
    display: flex;
    padding: spacing(1, true);
    svg {
        margin-right: 4px;
    }
}
.hfui-favoritepair__content-item {
    background-color: $panel-background-color;
    border-radius: $border-radius;
    display: block;
    text-transform: uppercase;
    width: 33%;
    padding: spacing(0.25) spacing(0.5);
    font-size: 13px;
    cursor: pointer;
    transition: background-color .2s;

    &.active {
        color: $green-color;
    }

    &:hover,
    &:focus {
        background-color: mix($white-color, $panel-background-color, 10%);
    }

    &:active {
        background-color: mix($black-color, $panel-background-color, 10%);
    }
}

.hfui-favoritepair__item-wrapper { 
    display: flex;
    gap: 5px;

    svg {
        flex-shrink: 0;
    }

    p {
        word-break: break-word;
    }
}
.empty { 
    color:$white-color;
    font-size: 0.8em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
