.indicator_card__wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px 20px 10px 20px;
  border: none !important;
  box-shadow: none !important;

  h5 {
    min-width: 75px;
    margin: 5px 0 10px 0;
  }

  > * {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .btui__sidebar_mods {
    padding-top: 5px;
  }

  .bp3-button, .bp3-checkbox {
    font-size: 11px;
  }

  .bp3-button {
    padding: 0 10px;
    min-height: 20px;
    line-height: 17px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .bp3-icon {
      width: 10px;
    }
  }

  .indicator_card_color_btn {
    border-style: solid;
    border-width: 1px;
  }
}
