@import '~normalize.css/normalize';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~react-datepicker/dist/react-datepicker';
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/tomorrow-night-eighties';
@import '~@projectstorm/react-diagrams/dist/style.min';
@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

.react-datepicker {
  background-color: #000;
  color: #ccc;
  border-color: #666;
}

.react-datepicker__time-container .react-datepicker__time {
  background: #000;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: #333;
}

.react-datepicker__time-list-item {
  width: auto !important;
  flex-direction: row;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ccc;
}

.react-datepicker__header {
  background-color: #333;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ccc;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover {
  background-color: #666;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected,
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected {
  background: #fcd206;
  color: #000;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css';

.far, .fas {
  color: #999;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #03040a;
  color: #c6c6c6;

  margin: 0;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:visited {
  color: #fcd206;
}

.dtc-red {
  color: red;
}

.dtc-green {
  color: green;
}

@import '~react-grid-layout/css/styles';
@import '~react-resizable/css/styles';

.react-grid-item > .react-resizable-handle {
  z-index: 100;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}