@import "normalize.css/normalize";
@import "pretty-checkbox/src/pretty-checkbox.scss";
@import "react-datepicker/dist/react-datepicker";
@import "codemirror/lib/codemirror";
@import "codemirror/theme/monokai";
@import "@projectstorm/react-diagrams/dist/style.min";
@import "/icon_font/styles.css";
@import "./variables.scss";
@import "./ufx-customise.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

body button,
body button:focus {
  outline: none;
  outline: none;
}

.react-datepicker {
  background-color: $panel-background-color;
  color: $text-color;
  border: none;
}

.react-datepicker__time-container .react-datepicker__time {
  background: $panel-background-color;
  border: none;
}
.react-datepicker__time-container {
  border: none;
}

.react-datepicker__time-container .react-datepicker__month-container {
  border: none;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: $black-color;
  border: none;
}

.react-datepicker__time-list-item {
  width: auto !important;
  flex-direction: row;
}

.react-datepicker-popper {
  width: calc(100% + 15px);
  z-index: 3;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: $black-color;
}

.react-datepicker-time__header {
  color: $text-color;
  border: none;
}

.react-datepicker__current-month,
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next,
.react-datepicker-year-header {
  display: none;
}

.react-datepicker__header {
  background-color: $black-color;
  border: none;
}

.react-datepicker__month-container {
  border: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: $text-color;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
  background-color: $grey-color;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected {
  background: $yellow-color;
  color: $black-color;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  border: none;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  margin: 0 5px;

  select {
    color: $text-color;
    background-color: $black-color;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.3rem;

    &:focus {
      outline: none;
    }
  }
}

.__react-tooltip {
  max-width: 250px;
  font-size: 13px;
  padding: 4px 12px;
  text-align: center;
}

.__react_component_tooltip {
  border: 1px solid $tooltip-border-color;
  background-color: $tooltip-background-color;
  color: $tooltip-text-color;
}

.tooltip-arrow {
  pointer-events: none;
}

.tooltip-arrow[data-placement*="left"]:after {
  border-left-color: $tooltip-border-color !important;
}

.tooltip-arrow[data-placement*="top"]:after {
  border-top-color: $tooltip-border-color !important;
}

.tooltip-arrow[data-placement*="right"] {
  margin-left: -0.75rem;

  &:before {
    border-color: transparent;
  }

  &:after {
    border-right-color: $tooltip-border-color !important;
  }
}

.tooltip-arrow[data-placement*="bottom"] {
  &:before {
    border-color: transparent;
  }

  &:after {
    border-bottom-color: $tooltip-border-color !important;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background-color;
  color: $text-color;

  margin: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  color: $green-color;
}

.hfui-red {
  color: $red-color;
}

.hfui-green {
  color: $green-color;
}

.hfui-uppercase {
  text-transform: uppercase;
}

@import "react-grid-layout/css/styles";
@import "react-resizable/css/styles";

.react-grid-item > .react-resizable-handle {
  z-index: 100;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.react-datepicker__time-list {
  display: block !important;
}

.empty {
  margin-top: 10px;
  text-align: center;
}
