body {
  margin: 0;
  padding: 0;
  background: #0c0c0c;
  color: #c4c7c9 !important;
}

html {
  font-size: 15px;
}

html, body, #root {
  height: 100%;
}

.bp3-card {
  background: rgba(0, 0, 0, 0.1) !important;
}

@import "./ui/Panel/_Panel.scss";
@import "./ui/StatusBar/_StatusBar.scss";
@import "./ui/Table/_Table.scss";
@import "./ui/SideNavBar/_SideNavBar.scss";

@import "./pages/AlgoOrders/_AlgoOrders.scss";
@import "./pages/Dashboard/_Dashboard.scss";

@import "./components/StrategyEditor/_StrategyEditor.scss";
@import "./components/IndicatorCard/_IndicatorCard.scss";
@import "./components/HFUI/_HFUI.scss";
@import "./components/Chart/_Chart.scss";
@import "./components/BTNewSidebar/_BTNewSidebar.scss";
@import "./components/BTNewContent/_BTNewContent.scss";
@import "./components/BTHistoricalContent/_BTHistoricalContent.scss";
@import "./components/BTHeaderBar/_BTHeaderBar.scss";
@import "./components/BacktestInfo/_BacktestInfo.scss";
