@import "./variables.scss";

$intent-primary: $green-color;
$intent-secondary: $input-background-color;
$intent-success: $green-button-color;
$intent-info: $blue-color;
$intent-warning: $yellow-color;
$intent-error: $red-color;

$ufx-border-radius: $border-radius;

$ufx-table-even-row-background-color: $panel-background-color;
$ufx-table-odd-row-background-color: $panel-background-color;
$ufx-table-hover-row-background-color: $light-color-50;
$ufx-table-hover-row-color: $light-color-900;
$ufx-table-active-row-background-color: $panel-background-color;

$ufx-font-family: $font-family;
$ufx-font-size: 13px;
$ufx-text-color: $light-color-600;
$ufx-heading-color: $light-color-800;
$ufx-background-color: $background-color;

$ufx-dropdown-height: 32px;
$ufx-dropdown-padding: spacing();
$ufx-dropdown-background-color: $input-background-color;
$ufx-dropdown-border-color: $input-background-color;
$ufx-dropdown-list-border: none;
$ufx-dropdown-text-color: $text-color;
$ufx-dropdown-list-background-color: $input-background-color;
$ufx-dropdown-active-item-background-color: $light-color-100;
$ufx-dropdown-input-background-color: $background-color;
$ufx-dropdown-input-border: 0;

$ufx-dialog-padding-desktop: spacing(1.5);
$ufx-dialog-padding-mobile: spacing(1.5);
$ufx-dialog-title: 14px;

@import "@ufx-ui/core/dist/css/ufx-core.bundle.scss";

.#{$ns}-virtual-table {
  .ReactVirtualized__Table__headerTruncatedText {
    font-weight: 600 !important;
  }
}