// Base colors
$white-color: #fff;
$grey-color: #666;
$dark-grey-color: #333;
$black-color: #000;

$background-color: #172d3e;
$darker-background-color: #102331;
$lighter-background-color: mix($white-color, lighten($background-color, 3%), 4%);

$panel-background-color: $darker-background-color;
$input-background-color: $lighter-background-color;

$primary-color-900: #00E0AD;
$primary-color-800: mix(#00E0AD, $background-color, 90%);
$primary-color-700: mix(#00E0AD, $background-color, 80%);
$primary-color-600: mix(#00E0AD, $background-color, 70%);
$primary-color-500: mix(#00E0AD, $background-color, 60%);
$primary-color-400: mix(#00E0AD, $background-color, 50%);
$primary-color-300: mix(#00E0AD, $background-color, 40%);
$primary-color-200: mix(#00E0AD, $background-color, 30%);
$primary-color-100: mix(#00E0AD, $background-color, 20%);
$primary-color-50: mix(#00E0AD, $background-color, 10%);

$secondary-color-900: #0089FF;
$secondary-color-800: mix(#0089FF, $background-color, 90%);
$secondary-color-700: mix(#0089FF, $background-color, 80%);
$secondary-color-600: mix(#0089FF, $background-color, 70%);
$secondary-color-500: mix(#0089FF, $background-color, 60%);
$secondary-color-400: mix(#0089FF, $background-color, 50%);
$secondary-color-300: mix(#0089FF, $background-color, 40%);
$secondary-color-200: mix(#0089FF, $background-color, 30%);
$secondary-color-100: mix(#0089FF, $background-color, 20%);
$secondary-color-50: mix(#0089FF, $background-color, 10%);

$light-color-900: mix($secondary-color-900, mix(white, $background-color, 100%), 5%);
$light-color-800: mix($secondary-color-900, mix(white, $background-color, 90%), 10%);
$light-color-700: mix($secondary-color-900, mix(white, $background-color, 80%), 10%);
$light-color-600: mix($secondary-color-900, mix(white, $background-color, 70%), 10%);
$light-color-500: mix($secondary-color-900, mix(white, $background-color, 60%), 10%);
$light-color-400: mix($secondary-color-900, mix(white, $background-color, 50%), 10%);
$light-color-300: mix($secondary-color-900, mix(white, $background-color, 40%), 10%);
$light-color-200: mix($secondary-color-900, mix(white, $background-color, 30%), 10%);
$light-color-100: mix($secondary-color-900, mix(white, $background-color, 20%), 10%);
$light-color-50: mix($secondary-color-900, mix(white, $background-color, 10%), 5%);

$green-color: $primary-color-700;
$green-button-color: $primary-color-600;
$blue-color: $secondary-color-600;
$yellow-color: #fcd206;
$red-color: #F05359;
$text-color: $light-color-700;
$text-color2: $light-color-400;

// Component colors
$strategy-not-active-color: #657D8E;
$strategy-empty-color: #99B4C8;

$tooltip-border-color: darken(#6E8CA8, 4%);
$tooltip-background-color: darken(#6E8CA8, 20%);
$tooltip-text-color: #BFC3C6;

$orange-border-color: #4e3300;
$orange-background-color: #231700;

$orderbook-sell-background-color: #383342;
$orderbook-buy-background-color: #204143;

$code-background-color: $panel-background-color;
$code-text-color: #9effff;
$code-anchor-color: #fd971f;

$notifications-info-color: #82BAF6;
$notifications-background-color: #0d101f;

// Utils
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$spacing-unit: 16px;
$spacing-unit-grid: 10px;
$border-radius: 5px;

@function spacing($value: 1, $grid: false) {
  @if $grid {
    @return $spacing-unit-grid * $value;
  }

  @return $spacing-unit * $value;
}