$background-color: #102331;

$text-color-strong: #fff;
$text-color: #e2e5e7;
$text-color2: #aaa;
$text-color2: #ccc;
$text-color3: #eee;
$text-color4: #e1e3e6;
$text-color4: #f0f1f2;

$yellow-color: #fcd206;
$yellow-color2: #f0ed53;

$black-color: #000;
$black-color2: #0d101f;
$black-color3: #060606;

$grey-color: #ccc;
$grey-color2: #BFC3C6;
$grey-color3: #666;
$grey-color4: #657D8E;

$green-color: #54B361;
$green-color2: #4faa5e;
$green-color3: #16b157;
$green-color4: #438f55;
$green-color5: #50aa5e;
$green-color6: #16b157;
$red-color: #F05359;
$blue-color: #82BAF6;
$ocean-color: #9effff;

$brown-color: #4e3300;
$brown-color-dark: #231700;
$dark-purple-color: #383342;
$dark-green-color: #204143;
$dark-green-color: #0c1b26;
$dark-green-color: #20313e;
$background-color2: #172d3e;