.navbar__wrapper {
  padding: 0 32px;
  background: #00355f;

  a:hover {
    text-decoration: none !important;
  }

  button.bp3-button.navbar-button {
    font-size: 12px;
    font-family: Roboto, sans;
    color: #fff;

    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;

    &:hover, &.active {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: none;
    }
  }
}

.navbar__wrapper-right {
  float: right;
  line-height: 30px;
  color: #001534;
}
