
.ReactVirtualized__Table__headerRow {
  text-align: center;
  background: #1b262d;
  border-bottom: 0.2px solid #2C3B46;
}

.ReactVirtualized__Table__headerColumn {

  font-weight: normal;

  > * {
    height: 20px !important;
    line-height: 24px;
    font-size: 11px;
   
  }

  &:first-child {
    text-align: center;
  }
}

.ReactVirtualized__Table__headerTruncatedText {
  text-align: center;
  margin-right: 4px;
  padding-bottom:  5px;
}

.ReactVirtualized__Table__row {
  > *{
    font-size: 13px;
  }
  
  background: #1b262d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
  text-align: center;
  border-bottom: 0.2px solid #2C3B46;
  &:hover {
    cursor: pointer;
    background: #232f38;
  }
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 0 !important;
}

.ReactVirtualized__Table__headerColumn:last-of-type,
.ReactVirtualized__Table__rowColumn:last-of-type {
  margin-right: 0 !important;
}

.table__wrapper {
  width: 90%;
  overflow: hidden;
  padding: 0;
  height: 100%;

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 10px;
    // background-color: rgba(0, 0, 0, 0.2);
    background: #161E24;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.table__cell-alignright {
  text-align: right;
}
