.ReactVirtualized__Table__headerRow {
  border-bottom: 1px solid #2f3240;
  padding-right: 0 !important;
}

.ReactVirtualized__Table__headerColumn {
  font-weight: normal;

  > * {
    font-size: 11px !important;
  }
}

.ReactVirtualized__Table__headerTruncatedText {
  margin-right: 4px;
}

.ReactVirtualized__Table__row {
  color: #ccc;

  > * {
    font-size: 12px;
    line-height: 20px !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.ReactVirtualized__Table__rowColumn {
  border-right: 1px solid #2f3240;

  &:last-child {
    border-right: none;
  }
}

.dtc-table {
  height: 100%;

  .icons-cell > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      color: #fcd206;
    }
  }
}