name: Pull request verify workflow

on:
  # Trigger the workflow on push or pull request,
  # but only for the default(master) branch
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, labeled, synchronize, ready_for_review]

jobs:
  checks:
    runs-on: macos-latest
    env:
      # dont treat warning as error
      CI: false

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Install sha256sum
        run:  brew install coreutils

      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Pull bfx-hf-ui-core
        run: npm run fetch-core

      - name: Install
        run: npm install

      - name: Build for linux/mac/windows
        run: npm run build-all

      - name: Annotate Checks
        uses: agyemanjp/ci-checks-action@2.0.3
        with:
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          checks: '[
            {
              "name": "build",
              "fileName": ".build-report.json",
              "prChangesOnly": true
            },
            {
              "name": "lint",
              "fileName": ".lint-report.json",
              "prChangesOnly": true
            }
          ]'
